body{
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div#Formule{
    background-size: 100% ;
    max-width: 100%;
    height: 100vh;
    width: 100vw;
    position: relative;
    /*font-family: 'East Sea Dokdo', cursive;*/
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Teko', sans-serif;*/
}

div#Formule::after{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%; width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -2;
}

div#Formule::before{
    content: "";
    position: absolute;
    height: 100%; width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent,rgba(0,0,0,0.8)) ,url("../img/fond.jpg") center center;
    background-size: cover;
    z-index: -1; /* Keep the background behind the content */
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover;
    filter: blur(0);
    animation: flou;
    animation-delay: 0s;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes flou {
    to{
        filter: blur(3px);
    }
}

div#Formule div#name div{
    position: relative;
    transform: translateY(-100%);
    font-family: 'East Sea Dokdo', cursive;
    font-size: 1000%;
    color: var(--bg-expression-hover);
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    width: 100%;
    text-shadow: var(--text-shadow);
    animation-name: aparitionHaut;
    animation-delay: .7s;
    animation-duration: 1.7s;
    animation-timing-function: cubic-bezier(0, 1.02, 0.34, 1.13);
    animation-fill-mode: forwards;
}

@keyframes aparitionHaut {
    90%{
        opacity: 1;
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
}

div#Formule div#name {
    padding-top: 30px;
    content: "";
    animation: bounce .7s ease infinite;
    animation-delay: 3s;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
@keyframes bounce {
    0%{
        padding-top: 30px;
    }
    50%{
        padding-top: 20px;
    }
    100%{
        padding-top: 30px;
    }
}

div#Formule div#elementsARentrer div#elem{
    margin-top: 0;
    animation: aparition;
    animation-delay: .5s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

div#Formule div#elementsARentrer {
    font-size: 21px;
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    top: 100%;
    left: 0;
    width: 100%;
    animation: aparitionNom;
    height: 0;
    animation-delay: .5s;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    background-color: var(--bg-expression-hover);
    box-shadow: var(--box-shadow);
}

div#Formule div#elementsARentrer span#n1{
    margin-right: 25%;
    color: var(--main_color);
    transition: text-shadow .5s;
}

div#Formule div#elementsARentrer span#n2{
    margin-left: 25%;
    color: var(--main_color);
    transition: text-shadow .5s;
}

div#Formule div#elementsARentrer span#n2:hover{
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0.4);
}

div#Formule div#elementsARentrer span#n1:hover{
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0.4);
}

@keyframes aparition {
    100%{
        margin-top: 15px;
    }
}

@keyframes aparitionNom {
    100%{
        height: 50%;
        top: 50%;
        padding-top: 20px;
    }
}

div#Formule div#elementsARentrer div#elem label{
    display: block;
    font-size: 50px;
    margin-bottom: 45px;
    position: relative;
}

div#Formule div#elementsARentrer div#elem label::after{
    content: "";
    height: 10%;
    position: absolute;
    top: 100%;
    right: 0;
    left: 40%;
    background: black;
    width: 20%;
}

div#Formule div#elementsARentrer div#elem #area_exp{
    border: none;
    background-color: white;
    font-size: 16px;
    padding: 15px 20px;
    width: 25%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

div#Formule div#elementsARentrer div#elem #area_exp:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}

div#Formule div#elementsARentrer div#elem button#valid{
    padding: 15px 20px;
    margin-left: -5px;
    border: none;
    font-size: 16px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    color: black;
    transition: background-color .2s, color .1s;
}

div#Formule div#elementsARentrer div#elem button#valid:hover{
    background-color: var(--main_color);
    color: var(--bg-expression-hover);
    cursor: pointer;
}

div#Formule div#elementsARentrer div#elem div#btns{
    margin-top: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

div#Formule div#elementsARentrer div#elem div#btns button{
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    background-color: var(--main_color);
    color: var(--bg-expression-hover);
    border: 2px solid black;
    border-radius: 10%;
    width: 10%;
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
    transition: color.1s,background-color.2s;
}

div#Formule div#elementsARentrer div#elem div#btns button:hover{
    background-color: black;
    color: var(--main_color);
    cursor: pointer;
}

div#Formule div#elementsARentrer div#elem div#area_err{
    color: var(--branche_ferme_color);
    font-size: 10px;
    font-style: italic;
    padding: 0;
    margin: 0;
}

input[type="text"]:focus {
    outline:none;
}

button:focus{
    outline: none;
}

/*Gestion regles*/
div#Formule div#rulesIcon{
    display: block;
    position: absolute;
    box-sizing: content-box;
    overflow: hidden;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    color: white;
    background-color: var(--main_color);
    border-radius: 50% 0 0 0;
    animation: ruleApparition;
    animation-duration: .4s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    vertical-align: center;
    text-align: center;
    box-shadow: var(--box-shadow-bis);
    transition: color .1s, background-color .2s;
}

@keyframes ruleApparition {
    to{
        width: 50px;
        height: 50px;
    }
}

div#Formule div#rulesIcon:hover{
    color: var(--main_color);
    background-color: black;
    border-left: 2px solid var(--main_color);
    border-top: 2px solid var(--main_color);
    cursor: pointer;
}

div#Formule div#rulesIcon div {
    padding: 15px 7px 7px 15px;
}

div#Formule div#regle{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 20;
}

div#Formule div#regle div{
    width: 80%;
    vertical-align: center;
    height: 80%;
    margin: auto;
    background-color: var(--bg-expression-hover);
    border-radius: 20px;
    border: 5px solid black;
    position: relative;
    text-align: justify;
}

div#Formule div#regle div span#titreRegle{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    font-size: 50px;
    color: var(--main_color);
    text-align: center;
    padding-top: 5%;
    position: relative;
}

div#Formule div#regle div p{
    display: block;
    box-sizing: inherit;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
    border-left: 4px solid var(--main_color);
    padding-left: 10px;
}

div#Formule div#regle div p span.important{
    color: var(--main_color);
    font-weight: bolder;
}

div#Formule div#regle div div#close{
    position: absolute;
    top: -15px;
    right: -15px;
    padding: 2px;
    border: 2px solid black;
    background-color: darkred;
    color: white;
    height: auto;
    width: auto;
    transition: color .2s;
    display: flex;
}

div#Formule div#regle div div#close i{
    margin: auto;
}

div#Formule div#regle div div#close:hover{
    color: black;
    cursor: pointer;
}