@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Roboto:wght@700&family=Teko:wght@300;700&display=swap');
:root{
    --main_color : #0FE2A3;
    --branche_color : #544427;
    --branche_traitee_color : #8C7140;
    --branche_ferme_color : #F7C32E;
    --virgil : #CB152B;
    --bg-expression-hover : #F1F5F2;
    --shadow-arbre : 7px 7px 18px 0px rgba(0,0,0,0.39);
    --shadow-arbre-hoover: 7px 7px 18px 0px rgba(0,0,0,0.39), 7px 7px 18px 0px rgba(84,68,39,0.52);
    --text-shadow : 2px 1px 2px rgba(0, 0, 0, 1),7px 1px 10px rgba(15, 226, 163, 1),7px 1px 20px rgba(255, 255, 255, .5);
    --box-shadow : 0px -2px 14px 0px #000000, 0px -5px 19px 0px rgba(0,0,0,0.5);
    --box-shadow-bis : 15px 15px 15px 20px rgba(32, 33, 36, .28);
}


/*Pour l'arbre*/
div#Arbre{
    width: 200vw;
    height: auto;
    text-align: center;
    /*font-family: 'East Sea Dokdo', cursive;*/
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Teko', sans-serif;*/
    font-size: x-large;
}

/*Pour le titre*/
div#Arbre div#titre{
    position: relative;
    color: var(--main_color);
    margin: 2% auto 1% auto;
    width: 100%;
    font-size: xx-large;
}

div#Arbre div#titre::after{
    content: "";
    background-color: var(--main_color);
    position: absolute;
    bottom: 0;
    right: 45%;
    left: 45%;
    width: 10%;
    height: 10%;
}

/*Pour tous les wrapper*/
div#Arbre div.wrapper{
    text-align: center;
    padding-top: 20px;
    display: inline-block;
    vertical-align: top;
    overflow: auto;
}

/*Pour toutes les branches*/
div#Arbre div.wrapper div.Branche{
    max-width: 75%;
    width:auto;
    box-sizing: border-box;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    color: var(--branche_color);
    display: block;
    border: 4px solid var(--branche_traitee_color);
    border-radius: 10px;
    padding: 5px;
    box-shadow: var(--shadow-arbre);
    transition: box-shadow .2s,border-color .1s;
    transition-timing-function: cubic-bezier(0.5, 0.5, 1.0, 1.0);

    position: relative;
}

div#Arbre div.wrapper div.Branche::after{
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-color: white;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

div#Arbre div.wrapper div.Branche:hover{
    box-shadow: var(--shadow-arbre-hoover);
    border-color: var(--branche_color);
}

/*Pour toutes les branches qui ne sont plus a traiter*/
div#Arbre div.wrapper div.Branche.BrancheTraitee{
    color: var(--branche_traitee_color);
}

div#Arbre div.wrapper div.Branche.BrancheTraitee:hover{
    box-shadow: var(--shadow-arbre);
    border-color: var(--branche_traitee_color);
}

/*Pour toutes les branches qui sont fermées*/
div#Arbre div.wrapper div.Branche.BrancheFermee{
    border-color: var(--branche_ferme_color);
    color: var(--branche_ferme_color);
}

div#Arbre div.wrapper div.Branche.BrancheFermee:hover{
    border-color: var(--branche_ferme_color);
    box-shadow: var(--shadow-arbre);
    content: "clic droit pour réouvrir";
}

div#Arbre div.wrapper div.Branche div{
    box-sizing: inherit;
}

div#Arbre div.wrapper div.Branche.BrancheTraitee div span.expression::after, div#Arbre div.wrapper div.Branche.BracheATraiter div span.expression::after{
    content: '';
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 50%;
    left: 50%;
    background: var(--bg-expression-hover);
    z-index: -1;
    transition: right .3s,left .3s;
}

div#Arbre div.wrapper div.Branche.BracheATraiter.BrancheFermable div span.expression.expressionComplexeATraiter::after{
    background: var(--main_color);
}

div#Arbre div.wrapper div.Branche.BracheATraiter.BrancheFermable.BrancheFermee div span.expression.expressionComplexeATraiter::after{
    background: var(--bg-expression-hover);
}

div#Arbre div.wrapper div.Branche div:hover span.expression::after{
    right: 0;
    left: 0;
}

/*Pour toutes les expressions*/
div#Arbre div.wrapper div.Branche div span.expression{
    text-align: center;
    display : inline-block;
    margin-right: auto;
    margin-left: auto;
    width: border-box;
    padding: 5px;
    cursor: default;
    border: 2px solid transparent;
    transition: border-color .1s, color .1s;
    transition-timing-function: cubic-bezier(0, 0.9, 0, 1.02),ease;
    transition-delay: .1s,.1s;
    position: relative;
}

div#Arbre div.wrapper div.Branche.BrancheFermable div span.expression.expressionComplexeATraiter:hover{
    cursor: pointer;
    border-color: black;
    color: black;
}

div#Arbre div.wrapper div.Branche.BrancheFermable.BrancheFermee div span.expression.expressionComplexeATraiter:hover{
    cursor: default;
    border-color: transparent;
    color: var(--branche_ferme_color);
}


/*Pour tous les canvas*/
div#Arbre canvas.liaison{
    position: absolute;
    z-index: 10;
    display: block;
}

div#Arbre, div#Arbre div.wrapper {
    position: relative;
    padding-bottom: 30px;
}

div#btn_end{
    display: block;
    position: fixed;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.45);
    background-color: var(--bg-expression-hover);
    border-top: 5px solid var(--main_color);
    width: 110%;
    height: auto;
    bottom: 0;
    right: -5%;
    left: -5%;
    z-index: 20;

}

div#btn_end button{
    display: block;
    margin: 5px auto;
    padding: 5px;
    font-size: 20px !important;
    background-color: transparent;

    color: var(--main_color);
    border: 3px solid var(--main_color);
    transition: color .2s, border-bottom-color .1s;
}

div#btn_end button:hover{
    border: 3px solid var(--branche_ferme_color);
    color: var(--branche_ferme_color);
    cursor: pointer;
}


